:root {
  --brand-blue: #151F6D;
  --brand-glaucous: #4E60AD;
  --brand-glaucous-light: #E3EBF2;
  --brand-tangerine: #F6AF6E;
  --brand-tangerine-light: #FDEAD8;
  --brand-green: #556D5A;
  --brand-green-light: #E3F2E5;
  --brand-dark: #333333;
  --brand-light: #FFFFFF;
}
